.imggaleria {
  padding: 15px;
}

.imagen-tooltip {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  background-color: rgb(141, 175, 204);
  color: white;
  padding: 5px;
  display: none;
}

.imagen-tooltip:hover .tooltip {
  display: block;
}

figcaption {
  color: rgb(45, 44, 44);
  background-color: whitesmoke;
}
